---
import '@/styles/global.css';
import MainApp from '@/components/MainApp';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>AdGen n8n</title>
	</head>
	<body>
		<MainApp client:only="react" />
	</body>
</html>